@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.table-name {
    min-width: 20%;
    width: 20%;
}

.table {
    width: 100%;
    text-align: center;
    margin: 30px;
}

.table-img {
    min-width: 25%;
    width: 25%;
}

.img-card {
    min-width: 50%;
    width: 50%;
}

.table-price {
    min-width: 10%;
    width: 10%; 
}

td {
    border-bottom: 1px solid #ccc;
}

.table-numbercount {
    min-width: 15%;
    width: 15%; 
}

.table input {
    margin: 0 auto;
}

.sum-count-price {
    font-family: 'Courier New', Courier, monospace;
}

.sum-count {

    color: #fff;
    background-color: #e7470c;
    padding: 8px;
    border-radius: 8px;
}

.row-sum {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    justify-content: flex-end;
    margin-right: 10%;
}

td .btn-deleted {
    background-color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    color: #e7470c;
    font-size: 17px;
    font-family: 'Cabin';
}

.table-numbercount input{
    border: 1px solid #ccc;
}

.cart_totals {
padding: 54px 48px 30px;
width: 60%;
margin-left: auto;
margin-right: auto;
}

.cart_totals li span {
    float: right;
}

 .cart_totals url .li-total {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

.btn-order {
    float: right;
    position: relative;
    padding: 11px 39px;
    line-height: 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    background-color: #e7470c;
    border: 2px solid #e7470c;
    font-family: 'Cabin';
    text-decoration: none;
    margin-bottom: 50px;
}

.btn-order:hover {
    background-color: #fff;
    border: 2px solid #e7470c;
    color: #e7470c;
}

.containers-row-cart {
    display: flex;
    flex-direction: row;
}