.form-contact {
    margin: 0 auto;
    width: auto;
    margin: 0px 20px 0px 20px;
    padding: 10px 0px 20px 0px;
}

.container-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    margin: 0px 50px 0px 50px;
}

.form-contact .input {
    display: block;
    width: 25%;
    height: 50px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #848484;
    line-height: 28px;
    padding: 10px 25px;
    margin-bottom: 30px;
    font-weight: 400;
    background: #ffffff;
    border-radius: 50px;
    border: 1px solid #ffffff;
}

.input-des {
    display: block;
    width: 86.5%;
    height: 100px;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #848484;
    line-height: 28px;
    padding: 10px 25px;
    font-weight: 400;
    background: #ffffff;
    border-radius: 30px;
    border: 1px solid #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@700&display=swap');

.send {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 20%;
    height: 80px;
    background-color: #e7470e;
    border: #e7470e;
    color: #ffffff;
    border-radius: 50px;
    font-family: 'Gluten', cursive;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    align-content: center;
}