.img-home {
    width: auto;
    height: 600px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.title {
    width: auto;
}

/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Paytone+One&display=swap');

h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.dich-vu {
    width: 40%;
    height: 400px;
    box-shadow: 10px 10px 14px 4px rgba(0, 0, 0, 0.2), 10px 12px 26px 4px rgba(0, 0, 0, 0.19);
    text-align: center;
}

.sec1 {
    background-image: url(../../img/3.png);
}

.view-service {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link-service {
    text-decoration: none;
    color: #fff;
    background-color: #082032;
    padding: 20px;
    border-radius: 30px;
    font-weight: 900;
}

.sec2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 60px 0px 60px 0px;
    background-color: #f2e1db;
    background-image: url('../../img/layer-1.png');
    background-position-x: left;
    background-position-y: bottom;
    background-size: initial;
    background-repeat: no-repeat;
}

.cart {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 10px 10px 14px 4px rgba(0, 0, 0, 0.2), 10px 12px 26px 4px rgba(0, 0, 0, 0.19);
}

.cart:hover {
    transform: scale(1.2, 1.2);
}

.icon {
    padding: 10px;
    width: 60px;
    height: 60px;
}

h5 {
    font-weight: bold;
}

.sec3 {
    background-image: url(../../img/3.png);
}

.sec4 {
    background-color: #082032;
}

.sec4 h2 {
    padding-top: 10px;
    color: #fff;
}